<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starnft.star.business.mapper.AccountUserMapper">

    <resultMap type="com.starnft.star.business.domain.AccountUser" id="AccountUserResult">
        <result property="id"    column="id"    />
        <result property="account"    column="account"    />
        <result property="password"    column="password"    />
        <result property="phone"    column="phone"    />
        <result property="nickName"    column="nick_name"    />
        <result property="avatar"    column="avatar"    />
        <result property="plyPassword"    column="ply_password"    />
        <result property="isActive"    column="is_active"    />
        <result property="fullName"    column="full_name"    />
        <result property="idNumber"    column="id_number"    />
        <result property="realPersonFlag"    column="real_person_flag"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createdAt"    column="created_at"    />
        <result property="createdBy"    column="created_by"    />
        <result property="modifiedAt"    column="modified_at"    />
        <result property="modifiedBy"    column="modified_by"    />
    </resultMap>

    <sql id="selectAccountUserVo">
        select id, account, password, phone, nick_name, avatar, ply_password, is_active, full_name, id_number, real_person_flag, is_deleted, created_at, created_by, modified_at, modified_by from account_user
    </sql>

    <select id="selectAccountUserList" parameterType="com.starnft.star.business.domain.AccountUser" resultMap="AccountUserResult">
        <include refid="selectAccountUserVo"/>
        <where>
            is_deleted = 0
            <if test="account != null "> and account = #{account}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="plyPassword != null  and plyPassword != ''"> and ply_password = #{plyPassword}</if>
            <if test="isActive != null "> and is_active = #{isActive}</if>
            <if test="fullName != null  and fullName != ''"> and full_name like concat('%', #{fullName}, '%')</if>
            <if test="idNumber != null  and idNumber != ''"> and id_number = #{idNumber}</if>
            <if test="realPersonFlag != null "> and real_person_flag = #{realPersonFlag}</if>

            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="modifiedAt != null "> and modified_at = #{modifiedAt}</if>
            <if test="modifiedBy != null  and modifiedBy != ''"> and modified_by = #{modifiedBy}</if>

        </where>
    </select>

    <select id="selectAccountUserById" parameterType="Long" resultMap="AccountUserResult">
        <include refid="selectAccountUserVo"/>
        where id = #{id}
    </select>

    <insert id="insertAccountUser" parameterType="com.starnft.star.business.domain.AccountUser" useGeneratedKeys="true" keyProperty="id">
        insert into account_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null">account,</if>
            <if test="password != null">password,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="nickName != null and nickName != ''">nick_name,</if>
            <if test="avatar != null">avatar,</if>
            <if test="plyPassword != null">ply_password,</if>
            <if test="isActive != null">is_active,</if>
            <if test="fullName != null">full_name,</if>
            <if test="idNumber != null">id_number,</if>
            <if test="realPersonFlag != null">real_person_flag,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="modifiedAt != null">modified_at,</if>
            <if test="modifiedBy != null and modifiedBy != ''">modified_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null">#{account},</if>
            <if test="password != null">#{password},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="nickName != null and nickName != ''">#{nickName},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="plyPassword != null">#{plyPassword},</if>
            <if test="isActive != null">#{isActive},</if>
            <if test="fullName != null">#{fullName},</if>
            <if test="idNumber != null">#{idNumber},</if>
            <if test="realPersonFlag != null">#{realPersonFlag},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="modifiedAt != null">#{modifiedAt},</if>
            <if test="modifiedBy != null and modifiedBy != ''">#{modifiedBy},</if>
         </trim>
    </insert>

    <update id="updateAccountUser" parameterType="com.starnft.star.business.domain.AccountUser">
        update account_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null">account = #{account},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="plyPassword != null">ply_password = #{plyPassword},</if>
            <if test="isActive != null">is_active = #{isActive},</if>
            <if test="fullName != null">full_name = #{fullName},</if>
            <if test="idNumber != null">id_number = #{idNumber},</if>
            <if test="realPersonFlag != null">real_person_flag = #{realPersonFlag},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="modifiedAt != null">modified_at = #{modifiedAt},</if>
            <if test="modifiedBy != null and modifiedBy != ''">modified_by = #{modifiedBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAccountUserById" parameterType="Long">
        update  account_user set is_deleted=1 where id = #{id}
    </delete>

    <delete id="deleteAccountUserByIds" parameterType="String">
        update  account_user set is_deleted=1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getDayUserCount" resultType="java.lang.Integer">
        select count(account) as num FROM account_user_0
        where to_days(created_at) = to_days(#{date})
        UNION
        select count(account) as num FROM account_user_1
        where to_days(created_at) = to_days(#{date})
        UNION
        select count(account) as num FROM account_user_2
        where to_days(created_at) = to_days(#{date})
        UNION
        select count(account) as num FROM account_user_3
        where to_days(created_at) = to_days(#{date})
        UNION
        select count(account) as num FROM account_user_4
        where to_days(created_at) = to_days(#{date})
        UNION
        select count(account) as num FROM account_user_5
        where to_days(created_at) = to_days(#{date})
        UNION
        select count(account) as num FROM account_user_6
        where to_days(created_at) = to_days(#{date})
        UNION
        select count(account) as num FROM account_user_7
        where to_days(created_at) = to_days(#{date})
        UNION
        select count(account) as num FROM account_user_8
        where to_days(created_at) = to_days(#{date})
        UNION
        select count(account) as num FROM account_user_9
        where to_days(created_at) = to_days(#{date})
    </select>

    <select id="getToDayUserCount" resultType="java.lang.Integer">

    </select>
</mapper>
