<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starnft.star.business.mapper.StarNftWithdrawApplyMapper">

    <resultMap type="StarNftWithdrawApply" id="StarNftWithdrawApplyResult">
        <result property="id"    column="id"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createdAt"    column="created_at"    />
        <result property="createdBy"    column="created_by"    />
        <result property="modifiedAt"    column="modified_at"    />
        <result property="modifiedBy"    column="modified_by"    />
        <result property="withdrawUid"    column="withdraw_uid"    />
        <result property="withdrawMoney"    column="withdraw_money"    />
        <result property="withdrawTradeNo"    column="withdraw_trade_no"    />
        <result property="withdrawBankNo"    column="withdraw_bank_no"    />
        <result property="bankMatchName"    column="bank_match_name"    />
        <result property="withdrawChannel"    column="withdraw_channel"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="applyPassTime"    column="apply_pass_time"    />
        <result property="applyStatus"    column="apply_status"    />
        <result property="applyMsg"    column="apply_msg"    />
    </resultMap>

    <sql id="selectStarNftWithdrawApplyVo">
        select id, is_deleted, created_at, created_by, modified_at, modified_by, withdraw_uid, withdraw_money, withdraw_trade_no, withdraw_bank_no, bank_match_name, withdraw_channel, apply_time, apply_pass_time, apply_status,apply_msg from star_nft_withdraw_apply
    </sql>

    <select id="selectStarNftWithdrawApplyList" parameterType="StarNftWithdrawApply" resultMap="StarNftWithdrawApplyResult">
        <include refid="selectStarNftWithdrawApplyVo"/>
        <where>
            is_deleted = 0
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="modifiedAt != null "> and modified_at = #{modifiedAt}</if>
            <if test="modifiedBy != null  and modifiedBy != ''"> and modified_by = #{modifiedBy}</if>
            <if test="withdrawUid != null "> and withdraw_uid = #{withdrawUid}</if>
            <if test="withdrawMoney != null "> and withdraw_money = #{withdrawMoney}</if>
            <if test="withdrawTradeNo != null  and withdrawTradeNo != ''"> and withdraw_trade_no = #{withdrawTradeNo}</if>
            <if test="withdrawBankNo != null "> and withdraw_bank_no = #{withdrawBankNo}</if>
            <if test="bankMatchName != null  and bankMatchName != ''"> and bank_match_name like concat('%', #{bankMatchName}, '%')</if>
            <if test="withdrawChannel != null  and withdrawChannel != ''"> and withdraw_channel = #{withdrawChannel}</if>
            <if test="applyTime != null  and applyTime != ''"> and apply_time = #{applyTime}</if>
            <if test="applyPassTime != null  and applyPassTime != ''"> and apply_pass_time = #{applyPassTime}</if>
            <if test="applyStatus != null "> and apply_status = #{applyStatus}</if>
        </where>
        order by created_at desc
    </select>

    <select id="selectStarNftWithdrawApplyById" parameterType="Long" resultMap="StarNftWithdrawApplyResult">
        <include refid="selectStarNftWithdrawApplyVo"/>
        where id = #{id}
    </select>

    <insert id="insertStarNftWithdrawApply" parameterType="StarNftWithdrawApply" useGeneratedKeys="true" keyProperty="id">
        insert into star_nft_withdraw_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="modifiedAt != null">modified_at,</if>
            <if test="modifiedBy != null">modified_by,</if>
            <if test="withdrawUid != null">withdraw_uid,</if>
            <if test="withdrawMoney != null">withdraw_money,</if>
            <if test="withdrawTradeNo != null and withdrawTradeNo != ''">withdraw_trade_no,</if>
            <if test="withdrawBankNo != null">withdraw_bank_no,</if>
            <if test="bankMatchName != null and bankMatchName != ''">bank_match_name,</if>
            <if test="withdrawChannel != null and withdrawChannel != ''">withdraw_channel,</if>
            <if test="applyTime != null and applyTime != ''">apply_time,</if>
            <if test="applyPassTime != null">apply_pass_time,</if>
            <if test="applyStatus != null">apply_status,</if>
            <if test="applyMsg != null">apply_msg,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="modifiedAt != null">#{modifiedAt},</if>
            <if test="modifiedBy != null">#{modifiedBy},</if>
            <if test="withdrawUid != null">#{withdrawUid},</if>
            <if test="withdrawMoney != null">#{withdrawMoney},</if>
            <if test="withdrawTradeNo != null and withdrawTradeNo != ''">#{withdrawTradeNo},</if>
            <if test="withdrawBankNo != null">#{withdrawBankNo},</if>
            <if test="bankMatchName != null and bankMatchName != ''">#{bankMatchName},</if>
            <if test="withdrawChannel != null and withdrawChannel != ''">#{withdrawChannel},</if>
            <if test="applyTime != null and applyTime != ''">#{applyTime},</if>
            <if test="applyPassTime != null">#{applyPassTime},</if>
            <if test="applyStatus != null">#{applyStatus},</if>
            <if test="applyMsg != null and applyMsg != ''">#{applyMsg},</if>
         </trim>
    </insert>

    <update id="updateStarNftWithdrawApply" parameterType="StarNftWithdrawApply">
        update star_nft_withdraw_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="modifiedAt != null">modified_at = #{modifiedAt},</if>
            <if test="modifiedBy != null">modified_by = #{modifiedBy},</if>
            <if test="withdrawUid != null">withdraw_uid = #{withdrawUid},</if>
            <if test="withdrawMoney != null">withdraw_money = #{withdrawMoney},</if>
            <if test="withdrawTradeNo != null and withdrawTradeNo != ''">withdraw_trade_no = #{withdrawTradeNo},</if>
            <if test="withdrawBankNo != null">withdraw_bank_no = #{withdrawBankNo},</if>
            <if test="bankMatchName != null and bankMatchName != ''">bank_match_name = #{bankMatchName},</if>
            <if test="withdrawChannel != null and withdrawChannel != ''">withdraw_channel = #{withdrawChannel},</if>
            <if test="applyTime != null and applyTime != ''">apply_time = #{applyTime},</if>
            <if test="applyPassTime != null">apply_pass_time = #{applyPassTime},</if>
            <if test="applyStatus != null">apply_status = #{applyStatus},</if>
            <if test="applyMsg != null and applyMsg != ''">apply_msg = #{applyMsg},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStarNftWithdrawApplyById" parameterType="Long">
        update star_nft_withdraw_apply set is_deleted = 1 where id = #{id}
    </delete>

    <delete id="deleteStarNftWithdrawApplyByIds" parameterType="String">
        update star_nft_withdraw_apply set is_deleted = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="dayWithDrawApply" resultType="com.starnft.star.business.domain.StarNftWithdrawApply">
        select id,withdraw_money from star_nft_withdraw_apply
        where to_days(created_at) = to_days(now())
    </select>


    <select id="toDayWithDrawApply" resultType="com.starnft.star.business.domain.StarNftWithdrawApply">
        select id,withdraw_money from star_nft_withdraw_apply
        WHERE TO_DAYS(NOW()) - TO_DAYS(created_at) = 1
    </select>

    <select id="selectStarWithDrawDetail" resultType="com.starnft.star.business.domain.vo.WithDrawDetail">
        select w.id as id,
        w.withdraw_uid  as withdrawUid,
        w.withdraw_money as withdrawMoney,
        w.withdraw_trade_no as withdrawTradeNo,
        w.withdraw_bank_no  as withdrawBankNo,
        w.bank_match_name   as bankMatchName,
        w.withdraw_channel  as withdrawChannel,
        w.apply_time    as applyTime,
        w.apply_pass_time   as applyPassTime,
        w.apply_status  as applyStatus,
        w.apply_msg as applyMsg,
        r.ts_cost   as teCost,
        r.ts_fee  as fee
        from star_nft_withdraw_apply as w
        left join star_nft_wallet_record as r
        on w.withdraw_trade_no = r.record_sn
        where
        w.is_deleted = 0
        <if test="createdAt != null "> and w.created_at = #{createdAt}</if>
        <if test="createdBy != null  and createdBy != ''"> and w.created_by = #{createdBy}</if>
        <if test="modifiedAt != null "> and w.modified_at = #{modifiedAt}</if>
        <if test="modifiedBy != null  and modifiedBy != ''"> and w.modified_by = #{modifiedBy}</if>
        <if test="withdrawUid != null "> and w.withdraw_uid = #{withdrawUid}</if>
        <if test="withdrawMoney != null "> and w.withdraw_money = #{withdrawMoney}</if>
        <if test="withdrawTradeNo != null  and withdrawTradeNo != ''"> and w.withdraw_trade_no = #{withdrawTradeNo}</if>
        <if test="withdrawBankNo != null "> and w.withdraw_bank_no = #{withdrawBankNo}</if>
        <if test="bankMatchName != null  and bankMatchName != ''"> and w.bank_match_name like concat('%', #{bankMatchName}, '%')</if>
        <if test="withdrawChannel != null  and withdrawChannel != ''"> and w.withdraw_channel = #{withdrawChannel}</if>
        <if test="applyTime != null  and applyTime != ''"> and w.apply_time = #{applyTime}</if>
        <if test="applyPassTime != null  and applyPassTime != ''"> and w.apply_pass_time = #{applyPassTime}</if>
        <if test="applyStatus != null "> and w.apply_status = #{applyStatus}</if>
        order by w.created_at desc
    </select>
</mapper>
