<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starnft.star.business.mapper.StarNftWalletRecordMapper">

    <resultMap type="StarNftWalletRecord" id="StarNftWalletRecordResult">
        <result property="id"    column="id"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createdAt"    column="created_at"    />
        <result property="createdBy"    column="created_by"    />
        <result property="modifiedAt"    column="modified_at"    />
        <result property="modifiedBy"    column="modified_by"    />
        <result property="recordSn"    column="record_sn"    />
        <result property="orderSn"    column="order_sn"    />
        <result property="outTradeNo"    column="out_trade_no"    />
        <result property="fromUid"    column="from_uid"    />
        <result property="toUid"    column="to_uid"    />
        <result property="tsType"    column="ts_type"    />
        <result property="tsMoney"    column="ts_money"    />
        <result property="tsCost"    column="ts_cost"    />
        <result property="tsFee"    column="ts_fee"    />
        <result property="payChannel"    column="pay_channel"    />
        <result property="remark"    column="remark"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="payTime"    column="pay_time"    />
    </resultMap>

    <sql id="selectStarNftWalletRecordVo">
        select id, is_deleted, created_at, created_by, modified_at, modified_by, record_sn, order_sn, out_trade_no, from_uid, to_uid, ts_type, ts_money,ts_cost,ts_fee, pay_channel, remark, pay_status, pay_time from star_nft_wallet_record
    </sql>

    <select id="selectStarNftWalletRecordList" parameterType="StarNftWalletRecord" resultMap="StarNftWalletRecordResult">
        <include refid="selectStarNftWalletRecordVo"/>
        <where>
            is_deleted = 0
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="modifiedAt != null "> and modified_at = #{modifiedAt}</if>
            <if test="modifiedBy != null  and modifiedBy != ''"> and modified_by = #{modifiedBy}</if>
            <if test="recordSn != null  and recordSn != ''"> and record_sn = #{recordSn}</if>
            <if test="orderSn != null  and orderSn != ''"> and order_sn = #{orderSn}</if>
            <if test="outTradeNo != null  and outTradeNo != ''"> and out_trade_no = #{outTradeNo}</if>
            <if test="fromUid != null "> and from_uid = #{fromUid}</if>
            <if test="toUid != null "> and to_uid = #{toUid}</if>
            <if test="tsType != null "> and ts_type = #{tsType}</if>
            <if test="tsMoney != null "> and ts_money = #{tsMoney}</if>
            <if test="payChannel != null  and payChannel != ''"> and pay_channel = #{payChannel}</if>
            <if test="payStatus != null  and payStatus != ''"> and pay_status = #{payStatus}</if>
            <if test="payTime != null "> and pay_time = #{payTime}</if>
        </where>
    </select>

    <select id="selectStarNftWalletRecordById" parameterType="Long" resultMap="StarNftWalletRecordResult">
        <include refid="selectStarNftWalletRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertStarNftWalletRecord" parameterType="StarNftWalletRecord" useGeneratedKeys="true" keyProperty="id">
        insert into star_nft_wallet_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="modifiedAt != null">modified_at,</if>
            <if test="modifiedBy != null">modified_by,</if>
            <if test="recordSn != null and recordSn != ''">record_sn,</if>
            <if test="orderSn != null">order_sn,</if>
            <if test="outTradeNo != null">out_trade_no,</if>
            <if test="fromUid != null">from_uid,</if>
            <if test="toUid != null">to_uid,</if>
            <if test="tsType != null">ts_type,</if>
            <if test="tsMoney != null">ts_money,</if>
            <if test="payChannel != null and payChannel != ''">pay_channel,</if>
            <if test="remark != null">remark,</if>
            <if test="payStatus != null and payStatus != ''">pay_status,</if>
            <if test="payTime != null">pay_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="modifiedAt != null">#{modifiedAt},</if>
            <if test="modifiedBy != null">#{modifiedBy},</if>
            <if test="recordSn != null and recordSn != ''">#{recordSn},</if>
            <if test="orderSn != null">#{orderSn},</if>
            <if test="outTradeNo != null">#{outTradeNo},</if>
            <if test="fromUid != null">#{fromUid},</if>
            <if test="toUid != null">#{toUid},</if>
            <if test="tsType != null">#{tsType},</if>
            <if test="tsMoney != null">#{tsMoney},</if>
            <if test="payChannel != null and payChannel != ''">#{payChannel},</if>
            <if test="remark != null">#{remark},</if>
            <if test="payStatus != null and payStatus != ''">#{payStatus},</if>
            <if test="payTime != null">#{payTime},</if>
         </trim>
    </insert>

    <update id="updateStarNftWalletRecord" parameterType="StarNftWalletRecord">
        update star_nft_wallet_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="modifiedAt != null">modified_at = #{modifiedAt},</if>
            <if test="modifiedBy != null">modified_by = #{modifiedBy},</if>
            <if test="recordSn != null and recordSn != ''">record_sn = #{recordSn},</if>
            <if test="orderSn != null">order_sn = #{orderSn},</if>
            <if test="outTradeNo != null">out_trade_no = #{outTradeNo},</if>
            <if test="fromUid != null">from_uid = #{fromUid},</if>
            <if test="toUid != null">to_uid = #{toUid},</if>
            <if test="tsType != null">ts_type = #{tsType},</if>
            <if test="tsMoney != null">ts_money = #{tsMoney},</if>
            <if test="tsCost != null">ts_cost = #{tsCost},</if>
            <if test="tsFee != null">ts_fee = #{tsFee},</if>
            <if test="payChannel != null and payChannel != ''">pay_channel = #{payChannel},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="payStatus != null and payStatus != ''">pay_status = #{payStatus},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
        </trim>
        where id = #{id}
    </update>



    <update id="updateStarNftWalletRecordByRecordSn" parameterType="StarNftWalletRecord">
        update star_nft_wallet_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="modifiedAt != null">modified_at = #{modifiedAt},</if>
            <if test="modifiedBy != null">modified_by = #{modifiedBy},</if>
            <if test="recordSn != null and recordSn != ''">record_sn = #{recordSn},</if>
            <if test="orderSn != null">order_sn = #{orderSn},</if>
            <if test="outTradeNo != null">out_trade_no = #{outTradeNo},</if>
            <if test="fromUid != null">from_uid = #{fromUid},</if>
            <if test="toUid != null">to_uid = #{toUid},</if>
            <if test="tsType != null">ts_type = #{tsType},</if>
            <if test="tsMoney != null">ts_money = #{tsMoney},</if>
            <if test="tsCost != null">ts_cost = #{tsCost},</if>
            <if test="tsFee != null">ts_fee = #{tsFee},</if>
            <if test="payChannel != null and payChannel != ''">pay_channel = #{payChannel},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="payStatus != null and payStatus != ''">pay_status = #{payStatus},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
        </trim>
        where record_sn = #{recordSn}
    </update>

    <delete id="deleteStarNftWalletRecordById" parameterType="Long">
        update star_nft_wallet_record set is_deleted = 1 where id = #{id}
    </delete>

    <delete id="deleteStarNftWalletRecordByIds" parameterType="String">
        update star_nft_wallet_record set is_deleted = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="dayWalletRecord" resultType="com.starnft.star.business.domain.StarNftWalletRecord">
        select id,ts_money from star_nft_wallet_record
        where to_days(created_at) = to_days(now())
        and ts_type = #{tsType}
        and pay_status = 1
    </select>

    <select id="toDayWalletRecord" resultType="com.starnft.star.business.domain.StarNftWalletRecord">
        select id,ts_money from star_nft_wallet_record
        WHERE TO_DAYS(NOW()) - TO_DAYS(created_at) = 1
          and ts_type = #{tsType}
          and pay_status = 1
    </select>

    <update id="updateRecordStatusByRecordSn">
        update star_nft_wallet_record  set pay_status = #{payStatus},modified_at = NOW() ,modified_by = #{sysUserId}
        where
            record_sn = #{withdrawTradeNo}
    </update>

    <select id="selectUserRecord" resultType="com.ruoyi.business.domain.vo.StarNftReconVo">
        select * from (
                          select r.id as id,
                                 r.created_at as createdAt,
                                 r.created_by as createdBy,
                                 r.record_sn  as recordSn,
                                 r.from_uid   as fromUid,
                                 r.to_uid as toUid,
                                 r.ts_type    as tsType,
                                 r.ts_money   as tsMoney,
                                 r.pay_channel    as payChannel,
                                 r.pay_status as payStatus,
                                 r.pay_time   as payTime,
                                 l.balance_offset as balanceOffset,
                                 l.current_balance    as currentBalance
                          from star_nft_wallet_record as  r
                                   left join star_nft_wallet_log  as l
                                             on  r.record_sn = l.record_sn
                          where
                              r.is_deleted = 0
                            and r.from_uid = #{userId}

                          union all

                          select r.id as id,
                                 r.created_at as createdAt,
                                 r.created_by as createdBy,
                                 r.record_sn  as recordSn,
                                 r.from_uid   as fromUid,
                                 r.to_uid as toUid,
                                 r.ts_type    as tsType,
                                 r.ts_money   as tsMoney,
                                 r.pay_channel    as payChannel,
                                 r.pay_status as payStatus,
                                 r.pay_time   as payTime,
                                 l.balance_offset as balanceOffset,
                                 l.current_balance    as currentBalance
                          from star_nft_wallet_record  as r
                                   left join star_nft_wallet_log as l
                                             on  r.record_sn = l.record_sn
                          where
                              r.is_deleted = 0
                            and r.to_uid = #{userId}
                      ) con
        order by payTime desc
    </select>
</mapper>
