<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starnft.star.infrastructure.mapper.banner.BannerMapper">

    <select id="queryBanner" resultType="com.starnft.star.infrastructure.entity.banner.BannerEntity">
        select
            id,title,img_url,`position`
        from banner
        where is_deleted = 0
          and `position` = #{type}
        ORDER BY sort
            limit #{size}
        ;
    </select>

    <select id="selectBannerList" resultType="com.starnft.star.infrastructure.entity.banner.BannerEntity">
        select
        *
        from banner
        <where>
            1 = 1
            <if test="condition.position != null  ">
                and `position` = #{condition.position}
            </if>
            <if test="condition.display != null ">
                and `display` = #{condition.display}
            </if>
            <if test="condition.title != null and condition.title != ''">
                and `title` = conact('%',#{condition.title},'%')
            </if>
        </where>
        order by sort
        <if test="condition.sort != null and condition.sort != 0">
            desc
        </if>
    </select>

</mapper>