<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starnft.star.infrastructure.mapper.wallet.StarNftBankRelationMapper">
    <resultMap type="com.starnft.star.infrastructure.entity.wallet.StarNftBankRelation" id="StarNftBankRelationMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
        <result property="createdAt" column="created_at" jdbcType="DATE"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="modifiedAt" column="modified_at" jdbcType="DATE"/>
        <result property="modifiedBy" column="modified_by" jdbcType="VARCHAR"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="cardNo" column="card_no" jdbcType="VARCHAR"/>
        <result property="cardName" column="card_name" jdbcType="VARCHAR"/>
        <result property="bankNameShort" column="bank_name_short" jdbcType="VARCHAR"/>
    </resultMap>
    <!--分页查询指定行数据-->
    <select id="queryByCondition" resultMap="StarNftBankRelationMap"
            parameterType="com.starnft.star.infrastructure.entity.wallet.StarNftBankRelation">
        select
        id,is_deleted,created_at,created_by,modified_at,modified_by,uid,nickname,card_no,card_name,bank_name_short
        from star_nft_bank_relation
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="isDeleted != null and isDeleted != ''">
                and is_deleted = #{isDeleted}
            </if>
            <if test="createdAt != null and createdAt != ''">
                and created_at = #{createdAt}
            </if>
            <if test="createdBy != null and createdBy != ''">
                and created_by = #{createdBy}
            </if>
            <if test="modifiedAt != null and modifiedAt != ''">
                and modified_at = #{modifiedAt}
            </if>
            <if test="modifiedBy != null and modifiedBy != ''">
                and modified_by = #{modifiedBy}
            </if>
            <if test="uid != null and uid != ''">
                and uid = #{uid}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname = #{nickname}
            </if>
            <if test="cardNo != null and cardNo != ''">
                and card_no = #{cardNo}
            </if>
            <if test="cardName != null and cardName != ''">
                and card_name = #{cardName}
            </if>
            <if test="bankNameShort != null and bankNameShort != ''">
                and bank_name_short = #{bankNameShort}
            </if>
        </where>
    </select>
    <!--新增数据-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.starnft.star.infrastructure.entity.wallet.StarNftBankRelation">
        insert into star_nft_bank_relation(is_deleted, created_at, created_by, modified_at, modified_by, uid,
                                           nickname, card_no, card_name, bank_name_short)
        values (#{isDeleted}, #{createdAt}, #{createdBy}, #{modifiedAt}, #{modifiedBy}, #{uid}, #{nickname},
                #{cardNo}, #{cardName}, #{bankNameShort})
    </insert>


    <!-- 更新数据 -->
    <update id="update">
        update star_nft_bank_relation
        <set>
            <if test="id != null and id != ''">
                id = #{id},
            </if>
            <if test="isDeleted != null and isDeleted != ''">
                is_deleted = #{isDeleted},
            </if>
            <if test="createdAt != null and createdAt != ''">
                created_at = #{createdAt},
            </if>
            <if test="createdBy != null and createdBy != ''">
                created_by = #{createdBy},
            </if>
            <if test="modifiedAt != null and modifiedAt != ''">
                modified_at = #{modifiedAt},
            </if>
            <if test="modifiedBy != null and modifiedBy != ''">
                modified_by = #{modifiedBy},
            </if>
            <if test="uid != null and uid != ''">
                uid = #{uid},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="cardNo != null and cardNo != ''">
                card_no = #{cardNo},
            </if>
            <if test="cardName != null and cardName != ''">
                card_name = #{cardName},
            </if>
            <if test="bankNameShort != null and bankNameShort != ''">
                bank_name_short = #{bankNameShort},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from star_nft_bank_relation
        where id = #{id}
    </delete>
</mapper>