<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starnft.star.infrastructure.mapper.theme.StarNftThemeInfoMapper">
    <resultMap id="BaseResultMap" type="com.starnft.star.infrastructure.entity.theme.StarNftThemeInfo">
        <!--@mbg.generated-->
        <!--@Table star_nft_theme_info-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="series_id" jdbcType="BIGINT" property="seriesId"/>
        <result column="theme_type" jdbcType="BOOLEAN" property="themeType"/>
        <result column="theme_name" jdbcType="VARCHAR" property="themeName"/>
        <result column="theme_pic" jdbcType="VARCHAR" property="themePic"/>
        <result column="publish_number" jdbcType="INTEGER" property="publishNumber"/>
        <result column="descrption" jdbcType="LONGVARCHAR" property="descrption"/>
        <result column="theme_level" jdbcType="TINYINT" property="themeLevel"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="lssue_price" jdbcType="DECIMAL" property="lssuePrice"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="is_delete" jdbcType="BOOLEAN" property="isDelete"/>
        <result column="is_recommend" jdbcType="BOOLEAN" property="isRecommend"/>
        <result column="restrict_number" jdbcType="INTEGER" property="restrictNumber"/>
        <result column="tags" jdbcType="VARCHAR" property="tags"/>
        <result column="publisher_id" jdbcType="BIGINT" property="publisherId"/>
        <result column="contract_address" jdbcType="VARCHAR" property="contractAddress"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        series_id,
        theme_type,
        theme_name,
        theme_pic,
        publish_number,
        descrption,
        theme_level,
        stock,
        lssue_price,
        create_at,
        create_by,
        update_at,
        update_by,
        is_delete,
        is_recommend,
        restrict_number,
        tags,
        contract_address,
        publisher_id,
        is_resale
    </sql>

    <select id="selectRecommendThemes" resultType="com.starnft.star.domain.theme.model.vo.ThemeVO">
        SELECT a.id             id,
               a.theme_type     theme_type,
               a.series_id      series_id,
               a.theme_name     theme_name,
               a.theme_pic      theme_pic,
               a.publish_number publish_number,
               a.theme_level    theme_level,
               a.lssue_price    lssue_price,
               a.tags           tags,
               b.id             publisher_id,
               b.publisher      publisher_name,
               b.pic            publisher_pic
        FROM star_nft_theme_info a
                 LEFT JOIN star_nft_publisher b
                           ON a.publisher_id = b.id
        WHERE a.is_recommend = #{isRecommend}
          AND a.is_delete = 0
    </select>

    <select id="themeGoodsList" resultType="com.starnft.star.domain.theme.model.vo.ThemeGoodsVO">
        SELECT ti.id               id,
               ti.series_id        series_id,
               ti.publisher_id     publisher_id,
               ti.theme_type       theme_type,
               ti.theme_name       theme_name,
               ti.theme_pic        theme_pic,
               ti.publish_number   publish_number,
               ti.theme_level      theme_level,
               ti.market_open_time market_open_time,
               tn.price            floor
        FROM star_nft_theme_info ti
                 LEFT JOIN (SELECT series_theme_info_id AS theme_id, min(price) AS price
                            FROM star_nft_theme_number where status = 2
                            GROUP BY theme_id) tn ON ti.id = tn.theme_id
        WHERE ti.series_id = #{seriesId}
        <if test="themeType != null">
            AND ti.theme_type = #{themeType}
        </if>
          AND is_resale = 1
        <if test="sortType == 1">
            ORDER BY ti.market_open_time
        </if>
        <if test="sortType == 2">
            ORDER BY tn.price
        </if>
        <if test="sortOrder == 1">
            ASC
        </if>
        <if test="sortOrder == 2">
            DESC
        </if>
    </select>

    <select id="selectThemeIssuedQty" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM star_nft_theme_number
        WHERE series_theme_info_id = #{themeId}
    </select>
</mapper>
