<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starnft.star.infrastructure.mapper.wallet.StarNftWalletConfigMapper">
    <resultMap type="com.starnft.star.infrastructure.entity.wallet.StarNftWalletConfig" id="StarNftWalletConfigMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
        <result property="createdAt" column="created_at" jdbcType="DATE"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="modifiedAt" column="modified_at" jdbcType="DATE"/>
        <result property="modifiedBy" column="modified_by" jdbcType="VARCHAR"/>
        <result property="rechargeLimit" column="recharge_limit" jdbcType="DECIMAL"/>
        <result property="withdrawTimes" column="withdraw_times" jdbcType="INTEGER"/>
        <result property="withdrawLimit" column="withdraw_limit" jdbcType="DECIMAL"/>
        <result property="chargeRate" column="charge_rate" jdbcType="DECIMAL"/>
        <result property="stableRate" column="stable_rate" jdbcType="DECIMAL"/>
        <result property="identityCode" column="identity_code" jdbcType="VARCHAR"/>
        <result property="channel" column="channel" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="loadAllWalletConfig"
            resultType="com.starnft.star.infrastructure.entity.wallet.StarNftWalletConfig">
        SELECT *
        FROM star_nft_wallet_config
    </select>

    <!--新增数据-->
    <insert id="walletConfigRegister" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.starnft.star.infrastructure.entity.wallet.dto.WalletConfigDTO">
        insert into star_nft_wallet_config(is_deleted, created_at, created_by, modified_at, modified_by, recharge_limit,
                                           withdraw_times,
                                           withdraw_limit, charge_rate, stable_rate, identity_code, channel)
        values (#{isDeleted}, #{createdAt}, #{createdBy}, #{modifiedAt}, #{modifiedBy}, #{rechargeLimit},
                #{withdrawTimes},
                #{withdrawLimit}, #{chargeRate}, #{stableRate}, #{identityCode}, #{channel})
    </insert>
</mapper>