<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starnft.star.infrastructure.mapper.order.StarNftOrderMapper">
    <resultMap type="com.starnft.star.infrastructure.entity.order.StarNftOrder" id="StarNftOrderMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="orderSn" column="order_sn" jdbcType="VARCHAR"/>
        <result property="seriesThemeInfoId" column="series_theme_info_id" jdbcType="BIGINT"/>
        <result property="seriesThemeId" column="series_theme_id" jdbcType="BIGINT"/>
        <result property="seriesId" column="series_id" jdbcType="BIGINT"/>
        <result property="themeNumber" column="theme_number" jdbcType="INTEGER"/>
        <result property="seriesName" column="series_name" jdbcType="VARCHAR"/>
        <result property="themeName" column="theme_name" jdbcType="VARCHAR"/>
        <result property="themePic" column="theme_pic" jdbcType="VARCHAR"/>
        <result property="themeType" column="theme_type" jdbcType="BIT"/>
        <result property="status" column="status" jdbcType="BIT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
        <result property="payAmount" column="pay_amount" jdbcType="DECIMAL"/>
        <result property="payNumber" column="pay_number" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="DATE"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="modifiedAt" column="modified_at" jdbcType="DATE"/>
        <result property="modifiedBy" column="modified_by" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="BIT"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="priorityBuy" column="priority_buy" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="contentCondition">
        <if test="id != null and id != ''">
            id = #{id},
        </if>
        <if test="orderSn != null and orderSn != ''">
            order_sn = #{orderSn},
        </if>
        <if test="seriesThemeInfoId != null and seriesThemeInfoId != ''">
            series_theme_info_id = #{seriesThemeInfoId},
        </if>
        <if test="seriesThemeId != null and seriesThemeId != ''">
            series_theme_id = #{seriesThemeId},
        </if>
        <if test="seriesId != null and seriesId != ''">
            series_id = #{seriesId},
        </if>
        <if test="themeNumber != null ">
            theme_number = #{themeNumber},
        </if>
        <if test="seriesName != null and seriesName != ''">
            series_name = #{seriesName},
        </if>
        <if test="themeName != null and themeName != ''">
            theme_name = #{themeName},
        </if>
        <if test="themePic != null and themePic != ''">
            theme_pic = #{themePic},
        </if>
        <if test="themeType != null and themeType != ''">
            theme_type = #{themeType},
        </if>
        <if test="status != null and status != ''">
            status = #{status},
        </if>
        <if test="userId != null and userId != ''">
            user_id = #{userId},
        </if>
        <if test="totalAmount != null and totalAmount != ''">
            total_amount = #{totalAmount},
        </if>
        <if test="payAmount != null and payAmount != ''">
            pay_amount = #{payAmount},
        </if>
        <if test="payNumber != null and payNumber != ''">
            pay_number = #{payNumber},
        </if>
        <if test="createdAt != null and createdAt != ''">
            created_at = #{createdAt},
        </if>
        <if test="createdBy != null and createdBy != ''">
            created_by = #{createdBy},
        </if>
        <if test="modifiedAt != null and modifiedAt != ''">
            modified_at = #{modifiedAt},
        </if>
        <if test="modifiedBy != null and modifiedBy != ''">
            modified_by = #{modifiedBy},
        </if>
        <if test="isDelete != null and isDelete != ''">
            is_deleted = #{isDelete},
        </if>
        <if test="remark != null and remark != ''">
            remark = #{remark},
        </if>
    </sql>

    <sql id="content">
        id
        ,
       order_sn,
       series_theme_info_id,
       series_theme_id,
       series_id,
       theme_number,
       series_name,
       theme_name,
       theme_pic,
       theme_type,
       status,
       user_id,
       total_amount,
       pay_amount,
       pay_number,
       created_at,
       created_by,
       modified_at,
       modified_by,
       is_deleted,
       remark
    </sql>

    <!--新增数据-->
    <insert id="createOrder" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.starnft.star.infrastructure.entity.order.StarNftOrder">
        insert into star_nft_order(order_sn, series_theme_info_id, series_theme_id, series_id, theme_number,
                                   series_name, theme_name,
                                   theme_pic, theme_type, status, user_id, total_amount, pay_amount, pay_number,
                                   created_at, created_by, modified_at, modified_by, is_deleted, remark, priority_buy)
        values (#{orderSn}, #{seriesThemeInfoId}, #{seriesThemeId}, #{seriesId}, #{theme_number}, #{seriesName},
                #{themeName},
                #{themePic}, #{themeType}, #{status}, #{userId}, #{totalAmount}, #{payAmount}, #{payNumber},
                #{createdAt}, #{createdBy}, #{modifiedAt}, #{modifiedBy}, #{isDelete}, #{remark}, #{priorityBuy})
    </insert>

    <select id="queryBuyNum" resultType="com.starnft.star.domain.order.repository.BuyNum">
        SELECT user_id,COUNT(user_id) as `count` from star_nft_order WHERE `status` = 1
        and series_theme_info_id = '1009469098485923840'
        AND created_at &lt;
            DATE_FORMAT( '2022-08-21 00:00:00', '%Y%m%d%H%i%s' )
        GROUP BY user_id
    </select>

    <select id="queryUserBuyBox" resultType="java.lang.Integer">
        SELECT COUNT(user_id) as `count` from star_nft_order
        WHERE `status` = 1
        and series_theme_info_id = '1009469098485923840'
        AND created_at &lt; DATE_FORMAT( '2022-08-21 00:00:00', '%Y%m%d%H%i%s' )
        and user_id = #{uid}
    </select>

    <select id="dealOrderPrice" resultType="java.math.BigDecimal">
        select total_amount
        from star_nft_order
        where  `status` = 1
        and series_theme_info_id  = #{themeInfoId}
        and created_at >= #{date}
        ORDER BY total_amount asc
    </select>
</mapper>
