<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starnft.star.infrastructure.mapper.number.StarNftThemeNumberMapper">
    <resultMap id="BaseResultMap" type="com.starnft.star.infrastructure.entity.number.StarNftThemeNumber">
        <!--@mbg.generated-->
        <!--@Table star_nft_theme_number-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="series_theme_info_id" jdbcType="BIGINT" property="seriesThemeInfoId"/>
        <result column="theme_number" jdbcType="BIGINT" property="themeNumber"/>
        <result column="contract_address" jdbcType="VARCHAR" property="contractAddress"/>
        <result column="chain_identification" jdbcType="VARCHAR" property="chainIdentification"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="owner_by" jdbcType="VARCHAR" property="ownerBy"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="is_delete" jdbcType="BOOLEAN" property="isDelete"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        series_theme_info_id,
        theme_number,
        `contract_address`,
        chain_identification,
        price,
        `status`,
        owner_by,
        create_at,
        create_by,
        update_at,
        update_by,
        is_delete,
        version
    </sql>

    <select id="selectNumberDetailById" resultType="com.starnft.star.domain.number.model.vo.NumberDetailVO">
        SELECT a.id                   id,
               a.theme_number         number,
               a.contract_address     contract_address,
               a.chain_identification chain_identification,
               a.price                price,
               a.status               status,
               a.owner_by             owner_by,
               b.id                   theme_id,
               b.theme_name           name,
               b.theme_pic            picture,
               b.descrption           descrption,
               b.theme_type           type,
               b.is_resale            resale
        FROM star_nft_theme_number a
                 LEFT JOIN star_nft_theme_info b
                           ON a.series_theme_info_id = b.id
        WHERE a.id = #{id}
          AND a.is_delete = 0
    </select>

    <select id="getNumberListByThemeInfo" resultType="com.starnft.star.domain.number.model.vo.NumberVO">
        SELECT a.id           id,
               a.theme_number number,
               a.price        price,
               a.status       status,
               b.series_id,
               b.id           theme_id,
               b.theme_name   theme_name,
               b.theme_pic    theme_pic,
               b.theme_type   type,
               a.version      version
        FROM star_nft_theme_number a
                 INNER JOIN star_nft_theme_info b ON a.series_theme_info_id = b.id
        <where>
            <if test="themeType != null and themeType != ''">
                b.theme_type = #{themeType}
            </if>
            <if test="seriesId != null and seriesId != ''">
                AND b.series_id = #{seriesId}
            </if>
            <if test="themeId != null and themeId != ''">
                AND b.id = #{themeId}
            </if>
            AND a.is_delete = 0
            AND a.owner_by is null
            AND a.status = 0
            AND b.is_delete = 0
        </where>
    </select>

    <select id="selectConsignThemeNumberDetail" resultType="com.starnft.star.domain.number.model.vo.ThemeNumberVo">
        SELECT a.id           number_id,
               a.theme_number theme_number,
               a.price        price,
               b.id           theme_info_id,
               b.theme_name   theme_name,
               b.theme_pic    theme_pic,
               b.theme_type   theme_type,
               c.id           series_id,
               c.series_name  series_name,
               a.owner_by     owner_by
        FROM star_nft_theme_number a
                 LEFT JOIN star_nft_theme_info b
                           ON a.series_theme_info_id = b.id
                 LEFT JOIN star_nft_series c
                           ON b.series_id = c.id
        WHERE a.id = #{themeId}
          AND a.is_delete = 0
          AND a.status = 2
          AND a.owner_by = #{ownerBy}
    </select>

    <select id="selectNumberList" resultType="com.starnft.star.domain.number.model.vo.NumberVO">
        SELECT a.id           id,
               a.theme_number number,
               a.price        price,
               a.status       status,
               b.id           theme_id,
               b.theme_name   theme_name,
               b.theme_pic    theme_pic,
               b.theme_type   type
        FROM star_nft_theme_number a
                 INNER JOIN star_nft_theme_info b ON a.series_theme_info_id = b.id
        <where>
            <if test="themeType != null and themeType != ''">
                b.theme_type = #{themeType}
            </if>
            <if test="seriesId != null and seriesId != ''">
                AND b.series_id = #{seriesId}
            </if>
            <if test="themeId != null and themeId != ''">
                AND b.id = #{themeId}
            </if>
            <if test="themeName != null and themeName != ''">
                AND b.theme_name LIKE CONCAT('%', #{themeName}, '%')
            </if>
            AND a.is_delete = 0
            AND b.is_delete = 0
            AND a.status = 2
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY a.${orderBy} ${sortType}
        </if>
    </select>

    <select id="selectRandomThemeNumber" resultType="com.starnft.star.domain.number.model.vo.ThemeNumberVo">
        SELECT a.id                   id,
               a.theme_number         number,
               a.contract_address     contract_address,
               a.chain_identification chain_identification,
               a.price                price,
               a.status               status,
               a.owner_by             owner_by,
               b.id                   theme_id,
               b.theme_name           name,
               b.theme_pic            picture,
               b.descrption           descrption,
               b.theme_type           type,
               b.is_resale            resale
        FROM star_nft_theme_number a
                 LEFT JOIN star_nft_theme_info b
                           ON a.series_theme_info_id = b.id
                 JOIN (SELECT ROUND(RAND() * ((SELECT MAX(id) FROM star_nft_theme_number) -
                                              (SELECT MIN(id) FROM star_nft_theme_number)) +
                                    (SELECT MIN(id) FROM star_nft_theme_number)) AS id) AS t2
        WHERE a.id = #{id}
          AND a.is_delete = 0
          AND a.status = 0
          AND a.id >= t2.id
        ORDER BY a.id LIMIT 1;
    </select>

    <select id="getNumbers2Ding" resultType="NumberDingVO">
        SELECT min(price) as price, i.theme_name as `name`, i.theme_pic as image
        from star_nft_theme_number as n
                 LEFT JOIN star_nft_theme_info as i on i.id = series_theme_info_id
        WHERE n.`status` = 2
          and n.is_delete = 0
        GROUP BY series_theme_info_id
    </select>

    <update id="updateNumberStatus">
        update star_nft_theme_number
        set owner_by = #{userId},
            `status` = #{code},
            version  = #{version} + 1
        where id = #{id}
          and version = #{version}
    </update>

    <select id="destroyedPublishNumber" resultType="java.lang.Integer">
        SELECT COUNT(1)
        from star_nft_theme_number
        WHERE series_theme_info_id = #{themeId}
        and (`status` = 3 or  owner_by = -1 )
    </select>

    <select id="minPrice" resultType="java.math.BigDecimal">
        SELECT MIN(star_nft_theme_number.price) from star_nft_theme_number WHERE series_theme_info_id = #{themeId}
    </select>

    <select id="marketNumberList" resultType="com.starnft.star.domain.number.model.vo.MarketNumberInfoVO">
        SELECT
            tn.id AS num_id,
            tn.theme_number AS theme_number,
            tn.chain_identification AS chain_identification,
            tn.price AS price,
            tn.owner_by AS owner_by,
            ti.publish_number AS publish_number,
            ti.theme_name AS theme_name
        FROM
            star_nft_theme_number tn
                LEFT JOIN ( SELECT id, publish_number,theme_name FROM star_nft_theme_info ) ti ON tn.series_theme_info_id = ti.id
        WHERE
            series_theme_info_id = #{themeId}
          AND `status` = 2
        <if test="sortType == 1">
            ORDER BY tn.theme_number
        </if>
        <if test="sortType == 2">
            ORDER BY tn.price
        </if>
        <if test="sortOrder == 1">
            ASC
        </if>
        <if test="sortOrder == 2">
            DESC
        </if>
    </select>

    <select id="avgPrice" resultType="java.math.BigDecimal">
        SELECT
            round( avg( star_nft_theme_number.price ), 2 ) as price
        FROM
            star_nft_theme_number
        WHERE
            `status` = 2
          AND is_delete = 0
          AND series_theme_info_id = #{themeId};
    </select>

    <select id="allPrice" resultType="java.math.BigDecimal">
        select price
        from star_nft_theme_number
        where `status` = 2
        and is_delete = 0
        and series_theme_info_id = #{themeId}
        <if test="median != null">
           and price &lt;= #{median}
        </if>
    </select>

    <select id="getTheme2Ding" resultType="com.starnft.star.domain.number.model.vo.ThemeDingVo">
        SELECT
        ti.id id,
        ti.theme_name `name`,
        ti.theme_pic image,
        tn.price `price`
        FROM
        star_nft_theme_info ti
        LEFT JOIN ( SELECT series_theme_info_id AS theme_id, min( price ) AS price FROM star_nft_theme_number WHERE STATUS = 2 GROUP BY theme_id ) AS tn ON ti.id = tn.theme_id
        WHERE
        ti.market_open_time &lt;= now()
        AND ti.is_resale = 1
    </select>

    <select id="nowRaisingTheme" resultType="com.starnft.star.domain.number.model.vo.RaisingTheme">
        SELECT
            id AS themeInfoId,
            theme_name AS themeName,
            lssue_price AS floorPrice
        FROM
            star_nft_theme_info
        WHERE
            market_open_time &lt;= now()
          AND is_resale = 1
          and raising_flag = 1
        GROUP BY
            id
    </select>

    <select id="minConsignNumber" resultType="com.starnft.star.domain.number.model.vo.ThemeNumberVo">
        SELECT
            min( price ) AS price,
            series_theme_info_id AS themeInfoId

        FROM
            star_nft_theme_number
        WHERE
            `status` = 2
          AND is_delete = 0
        GROUP BY
            series_theme_info_id
    </select>

    <select id="consignNumberByTheme" resultType="com.starnft.star.domain.number.model.vo.ThemeNumberVo">
        SELECT
            id AS numberId,
            owner_by AS ownerBy
        FROM
            star_nft_theme_number
        WHERE
            series_theme_info_id = #{themeId}
          AND `status` = 2
          AND is_delete = 0
    </select>

    <update id="takeNumber">
        UPDATE star_nft_theme_number
        SET `status` = 1
        WHERE
            series_theme_info_id = #{themeId}
          AND is_delete = 0
          AND `status` = 2;
    </update>

    <select id="consignMinPrice" resultType="java.math.BigDecimal">
        select min(price) from star_nft_theme_number where series_theme_info_id = #{themeInfoId} and `status` = 2
    </select>
</mapper>
