spring:
  application:
    name: star
  profiles:
    active: dev

server:
  port: 8080

logging:
  level:
    com.starnft.star: debug


leaf:
  snowflake:
    enable: false

# Mybatis
mybatis-plus:
  type-aliases-package: com.starnft.star
  mapper-locations: classpath*:mybatis/mappers/*.xml
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: true
    log-impl: com.starnft.star.interfaces.config.StdOutImpl
swagger:
    packages: com.starnft.star.infrastructure.controller