spring:
  application:
    name: star

  datasource:
    username: root
    password: wqd1234.
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://sh-cynosdbmysql-grp-ibkpxd68.sql.tencentcdb.com:23543/star?serverTimezone=GMT%2B8&characterEncoding=utf8
    driver-class-name: com.mysql.jdbc.Driver
    druid:
      max-active: 20
      initial-size: 5
      min-idle: 5
      max-wait: 60000
  redis:
    host: 124.221.181.84
    database: 0
    port: 16379
    jedis:
      pool:
        max-active: 100
        max-idle: 10
        max-wait: 100000
    timeout: 5000
    password: wqd123456.

server:
  port: 8089

logging:
  level:
    com.starnft.star: debug

wallet:
  file:
    path: generator/english

# 发送短信验证码开关
star:
  sms:
    enable: false

rocketmq:
  name-server: 47.99.42.39:9876
  producer:
    group: star-producer-group
    isOnOff: on
    sendMsgTimeout: 30000
    maxMessageSize: 4096
    retryTimesWhenSendFailed: 2
  consumer:
    listeners: # 配置某个消费分组，是否监听指定 Topic 。结构为 Map<消费者分组, <Topic, Boolean>> 。默认情况下，不配置表示监听。
      test-consumer-group:
        topic1: false # 关闭 test-consumer-group 对 topic1 的监听消费
#    isOnOff: on
#    group: star-consumer-group
#    consumeThreadMin: 20
#    consumeThreadMax: 64
#    consumeMessageBatchMaxSize: 1