spring:
  application:
    name: star
  profiles:
    active: dev

server:
  port: 8080

logging:
  level:
    com.starnft.star: debug


leaf:
  snowflake:
    enable: false

# Mybatis
mybatis:
  config-location:  classpath:/mybatis/config/mybatis-config.xml
  mapper-locations: classpath*:mybatis/mappers/**/*Mapper.xml