spring:
  application:
    name: ark

  datasource:
    username: root
    password: wqd1234.
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://10.0.12.14:3306/wqdys_db?serverTimezone=GMT%2B8&characterEncoding=utf8
    driver-class-name: com.mysql.jdbc.Driver
    druid:
      max-active: 20
      initial-size: 5
      min-idle: 5
      max-wait: 60000
  redis:
    host: 124.221.181.84
    database: 0
    port: 16379
    jedis:
      pool:
        max-active: 100
        max-idle: 10
        max-wait: 100000
    timeout: 5000
    password: wqd123456.

server:
  port: 8080

logging:
  level:
    com.starnft.star: debug

# 验证码相关配置
captcha:
  prefix: star.captcha
  # 验证码过期时间，默认是2分钟,单位毫秒， 可以根据自身业务进行调整
  expire:
    default: 30000
    # 文字点选验证码 过期时间设置大一点
    WORD_IMAGE_CLICK: 60000
  # 使用加载系统自带的资源， 默认是true
  init-default-resource: true
  cache:
    # 缓存控制， 默认为false不开启
    enabled: true
    # 验证码会提前缓存一些生成好的验证数据， 默认是20
    cache-size: 20
    # 缓存拉取失败后等待时间 默认是 5秒钟
    wait-time: 5000
    # 缓存检查间隔 默认是2秒钟
    period: 2000
  secondary:
    # 二次验证， 默认false 不开启
    enabled: false
    # 二次验证过期时间， 默认 2分钟
    expire: 120000
    # 二次验证缓存key前缀，默认是 captcha:secondary
    keyPrefix: star.captcha.secondary


aj:
  captcha:
    jigsaw: classpath:images/jigsaw
    pic-click: classpath:images/pic-click
    cache-type: redis
    type: default
    water-mark: 链元文创
    slip-offset: 5
    aes-status: true
    interference-options: 2
    font-style: 1
    font-size: 25
    history-data-clear-enable: false
    req-frequency-limit-enable: false
    req-get-lock-limit: 5
    req-get-lock-seconds: 360
    req-get-minute-limit: 30
    req-check-minute-limit: 60
    req-verify-minute-limit: 60